@model Hostel_Management.Models.LeaveRequest

@{
    ViewData["Title"] = "Request Leave";
}

<h2>Request Leave</h2>

<form asp-action="CreateLeaveRequest" method="post">
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="reason"></label>
        <textarea asp-for="reason" class="form-control"></textarea>
        <span asp-validation-for="reason" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit Leave Request</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
